<section>
    <div class="container bg-light px-0 my-4">
         <div class="container py-4">
          <div class="row">
            <div class="col-sm-4 p-0">
              <div class="skills d-flex">
                <div class="skills-icon align-self-center px-3"><i class="bi bi-caret-right-fill"></i></div>
                <div class="skills-desc text-start">
                  w an AWS Certified Cloud Practitioner! This content was exactly what the CCP exam covered.</div>
              </div>
              </div>
              
            <div class="col-sm-4 p-0">
              <div class="skills d-flex">
                <div class="skills-icon align-self-center px-3"><i class="bi bi-star-fill"></i></div>
                <div class="skills-desc text-start">
                  am proud to say that after aitioner! This content was exactly what the CCP exam covered.</div>
              </div>
              </div>
             
            <div class="col-sm-4 p-0">
              <div class="skills d-flex">
                <div class="skills-icon align-self-center px-3"><i class="bi bi-infinity"></i></div>
                <div class="skills-desc text-start">I am pro Certified Cloud Practitioner! This content was exactly what the CCP exam covered.</div>
              </div>
              </div>
             
          </div>
         </div>
    </div>
   </section>