@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <a class="btn btn-primary" asp-controller="Topics" asp-action="Index">Topics dashboard </a>
    <a class="btn btn-secondary" asp-controller="Categories" asp-action="Index">Categories dashboard </a>
    <a class="btn btn-warning text-white " asp-controller="Courses" asp-action="Create">Create Course </a>
</div>
